#cm-icon { display:none; cursor:pointer;
	.InputfieldFileItem & { margin-left:5px; }
	.InputfieldImageEditAll .gridImage & { left:10px; bottom:10px; }
	.gridImage &, #ImageVariations .preview & { position:absolute; left:0; bottom:0; background:white; z-index:100; width:32px; height:32px; padding-top:8px; text-align:center; color:#aaa;
		&:hover { color:#e83561; }
	}
}
#ImageVariations {
	.preview { display:inline-block; position:relative;	}
}
#cm-notice { position:fixed; left:0; top:0; background:rgba(0,0,0,0.6); font-size:14px; color:white; padding:4px 12px; z-index:100; display:none; }
